
/* Utilities */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 40px;
    overflow: auto;

}

.card{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: var(--shadow);
    padding: 20px;
    margin: 10px;
    color: var(--text-color);
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--light-color);

}

.btn-outline{
    background-color: transparent;
    border:1px solid #fff
}

.btn:hover{
    transform: scale(0.95);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    /* grid-template-rows: ; */
    grid-template-columns: repeat(2,1fr);
    gap:20px; 
    justify-content: center;
    align-items: center;

}


.grid-3{
    width: 100%;
    margin-top: 50px;
    grid-template-columns: repeat(3,1fr);
}

.stats__text_main h1{
    font-size: 2.4em;
    font-weight: 600;
}

.stats__text_main p{
    font-size: 1.3em;
    font-weight: 600;
    
}



.cli .grid{
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* Cli and grid direct children */
.cli .grid > *:first-child{ 
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

section.cloud{
    height: 350px;
    background-color: var(--primary-color);
    color:#fff;
}

.lg-text{
    font-size: 3rem;
}


.cloud .description{
    text-align: center;
}


.btn-dark {
    background-color: var(--dark-color);
  }

.mt-20{
    margin-top: 20px;
}

.lang{
    margin-top: 10px;
    text-align: center;
}

.lang h2{
    font-size: 2em;
    font-weight: 600;
}

.lang .grid{
    grid-template-columns: repeat(7,1fr);
    /* grid-template-rows: repeat(1,1fr); */
}

.lang .card{
    text-align: center;
    margin: 18px 5px 40px;
    transition: 0.3s ease-in;
    width: 100%;
}

.lang .card:hover {
    transform: translateY(-15px);
    }


.footer{
    background-color: var(--dark-color);
    color: #fff;
}
.footer .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.footer__navbar a{
    color:#fff
}

.footer__sm i{
    color: #fff;
    margin-right: 15px;
}
